@font-face {
    font-family: "Ubuntu-Regular";
    src: url(../fonts/Ubuntu/Ubuntu-Regular.woff2);
    font-display: swap;
}
.container{
    background: center/cover url(../image/Фон.png) no-repeat ;
    height: 100vh;
    color: #FFFFFF;
    font-family: "Ubuntu-Regular";
}
.header {
    margin-bottom: 53px;
    width: 100%;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.38);
}
.logo-contacts{
    display: flex;
    padding: 18px 6%;
    justify-content: space-between;

}
.logo {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    transition: 0.4s;
}
.logo:hover{
    color:
    #3CB878;
    transition: 0.3s;
    cursor: pointer;
}
.form{
    box-sizing: border-box;
    width: 444px;
    height: 584px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    padding-left:60px;
    padding-right: 60px;
    position: relative;
}
.icon {
    background-image: url(../svgs/css_sprites_icon.png);
    }
.icon:hover {
    background-image: url(../svgs/css_sprites\ _icon_hover.png);
    }
.icon2 {
        background-image: url(../svgs/css_sprites_fb_g.png);
        }
.bg-Vector {   
    width: 21px;
    height: 24px;
    background-position:  -96px -10px;
    }
.bg-Vector:hover {
    width: 21px; 
    height: 24px;
    background-position:  -97px -10px;
}
.bg-Vector_2 {
    width: 23px; 
    height: 23px;
    background-position:  -53px -10px;
}
.bg-Vector_2:hover {
    width: 24px; 
    height: 24px;
    background-position:  -10px -10px;
    transform: scale(1, 0.5);
    -ms-transform: scale(1, 0.5);
    -webkit-transform: scale(1, 0.95);

}
.bg-Vector_3 {
    width: 23px; height: 24px;
    background-position:  -10px -10px;
}
.bg-Vector_3:hover{
    width: 23px;
     height: 24px;
    background-position: -54px -10px;
}
.bg-google {
    width: 30px; height: 19px;
    background-position:   -10px -10px;
    position:absolute;
    top: 14px;
    left: 10px;
}
.bg-fb {
    width: 14px; height: 24px;
    background-position:-10px -49px;
    position:absolute;
    top: 11px;
    left: 15px;
}
.icon-header{
    display: flex;
    gap: 24px;
}
.nav{
    display: flex;
    gap: 52px;

}
.nav p{
    align-self: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}
.title-form {
    display: flex;
    justify-content: space-between;
    padding-top: 7%;
    padding-bottom: 3%;
    position: relative;
}
.title-form h3{
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #434343;
}
.title-form span{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    align-self: center;
    transition: 0.4s;
}
.form-block{
   padding-bottom: 50px;
} 
.link {
    display: flex;
    gap: 4px;
}
.link a{
    align-self: center;
    text-decoration: none;
    color: 
    #FFFFFF;
}
.facebook {
    background: #305DB8;
    cursor: pointer;
    transition: 0.4s;
}
.google {
    background:#DF4A32;
    cursor: pointer;
    transition: 0.4s;
}
.facebook,
.google {
    position: relative;
    font-size: 16px;
    line-height: 16px;
    width: 160px;
    height: 48px;
    display: flex;
    justify-content: end;
    border-radius: 4px;
    padding-right:7%;
}
.facebook:hover{
    background:#022263;
    transition: 0.3s;
    cursor: pointer;
}
.google:hover {
    background: #AB1F09;
    transition: 0.3s;
    cursor: pointer;
}
.facebook::before{
    content: " ";
    border-left: 1px solid #0A162F;
    height: 28px;
    position: relative;
    right: 20px;
    top: 9px;
    opacity: 0.1;
}
.google::before{
    content: " ";
    border-left: 1px solid 
    #2B0D09;
    height: 28px;
    position: relative;
    right: 30px;
    top: 9px;
    opacity: 0.1;
}
.input{
    box-sizing: border-box;
    margin-top: 15px;
    height: 44px;
    width: 324px;
    border: 1px solid 
    #F2F2F2;
    border-radius: 4px;
    padding-left: 20px;
}
 .input:active{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
} 
.input:focus {
    outline: 0;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.input:visited{
    border: 1px solid 
    #F2F2F2;
    padding-left: 30px;
} 
.agree{
    color:#434343;
    font-size: 14px;
    line-height: 14px;
}
.terms{
    color: #3CB878;
    transition: 0.3s;
}
.terms:hover{
    transition: 0.3s;
    cursor: pointer;
    color:#01813F;
    text-decoration: underline;
}
.check-box {
    width: 20px;
    height: 20px;
}
label {
    display: flex;
    margin-top: 15px;
    cursor: pointer;
}
.agree{
    margin-left: 22px;
}
.agree,
.terms
{
    align-self: center;
}
.button{
    margin-top: 20px;
    height: 46px;
    width: 324px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
    border-radius: 4px;
    margin-bottom: 40px;
    background: rgba(60, 184, 120, 0.8);
    cursor: pointer;
    transition: 0.4s;
}
.button:hover{
    background: #01813F;
    transition: 0.5s; 
}
.or {
    font-size: 14px;
    line-height: 14px;
    margin-top: 32px;
    color: 
    #848484;
    display: flex;
    justify-content: center;
}
.or::before {
    content: " ";
    width: 150px;
    border-bottom: 1px solid #F2F2F2;
    position: relative;
    bottom: 5px;

}
.or::after {
    content: " ";
    width: 150px;
    border-bottom: 1px solid #F2F2F2;
    position: relative;
    bottom: 5px;
}
.span:hover {
    color: #01813F;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: underline;
}
.check-box{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect (0 0 0 0);
    padding-left: 20px;
    
}
.check {
    position: absolute;
    width: 16px;
    height: 16px;
    border:1px solid #F2F2F2;
    
}
.check-box:checked + .check{
    background-image: url(../image/check2.png);
}
.form::after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    top:29px;
    left: 0;
}
a{
    text-decoration: none;
}
p  a .span{
    color:#FFFFFF;
}